<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <!-- build:css styles/vendor.css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <!-- bower:css -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link href="styles/popup.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body>
  <div id="app" class="container">

    <!-- Search Bar message -->
    <div class="navbar">
      <div class="is-empty  search">
        <form @submit.prevent="submit">
          <input type="text" class="form-control col-md-8" placeholder="Search" v-model="search">
        </form>
      </div>


    </div>


    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <!-- Meanings -->
        <h3 v-if="meanings.length > 0">Meanings</h3>
        <ul class="meanings">
          <li v-for="item in meanings " v-html="item.content">
          </li>
        </ul>


        <!-- etymology -->
        <h3 v-if="etymology != ''">Etymology</h3>
        <div v-html="etymology"></div>

        <!-- ipa -->
        <h3 v-if="ipa.length > 1">Ipa</h3>
        <ul>
          <li v-for="item in  ipa ">
            <p v-html="item.title"></p>
          </li>
        </ul>

        <!-- related -->
        <h3 v-if="related.length > 0">Related</h3>
        <ul>
          <li v-for="item in related ">
            <a :href="item.link" v-html="item.title"></a>
          </li>
        </ul>


      </div>

    </div>



  </div>


  <!-- build:js scripts/vendor/vendor.js -->
  <script src="/bower_components/vue/dist/vue.js"></script>
  <script src="/bower_components/vue-resource/dist/vue-resource.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/popup.js -->
  <script src="scripts/popup.js"></script>
  <!-- endbuild -->
</body>

</html>