<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>Dictionary App</title>
  <link href="./scripts/bundle.min.css" rel="stylesheet">
</head>

<body>
  <div id="app" class="container">
    <div class="app">


      <!-- Search Bar message -->
      <div class="navbar">
        <div class="is-empty search">
          <form @submit.prevent="submit">
            <input type="text" class="form-control col-md-8" placeholder="Search" v-model="search" />
          </form>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2" v-if="isEmpty === null">
          <p>Tip: Select text on any webpage either holder alt and right click, or click the dicitory app to view the
            definition of your selection</p>
        </div>

        <div class="col-sm-8 col-sm-offset-2" v-if="isEmpty">
          <p>No definition found.</p>
          <vue-external-link v-bind:link="'https://www.google.ie/search?q=' + search " v-bind:text="'Search the Google for' + search"></vue-external-link>
        </div>

        <div class="col-sm-8 col-sm-offset-2" v-if="!isEmpty">

          <!-- Meanings -->
          <div class="define" v-if="meanings.length > 0">
            <h3> Meanings</h3>
            <ul class="meanings">
              <vue-list-text v-for="item in meanings" :key="item.content" v-bind:content="item.content" v-bind:type="item.type"></vue-list-text>
            </ul>
          </div>

          <!-- synonyms -->
          <div class="define" v-if="synonyms.length > 0">
            <h3>Synonyms</h3>
            <ul>
              <vue-list-link v-for="item in synonyms" :key="item.content" v-bind:title="item.title" v-bind:link="item.link"></vue-list-link>
            </ul>
          </div>

          <!-- related -->
          <div class="define" v-if="related.length > 0">
            <h3>Related</h3>
            <ul>
              <vue-list-link v-for="item in related" v-on:click.native="research(item.title)" v-bind:title="item.title"
                :key="item.title" v-bind:link="item.link"></vue-list-link>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./scripts/popup.js" type="text/javascript"></script>

</body>

</html>